<!doctype html>
<html lang="en">
  <head>
    <%-partial('./blocks/bootstrap_header.ejs')%>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>

    <%-partial('./blocks/navbar.ejs')%>

    <div class="container forms">
        <div class="row text-center">
            <form id="universal-form" class="col-8 offset-2m jq-send-form" action="" method="post">
                <h4>Create session</h4>
                <span id="login_message"></span>

                <input type="text" name="sessionIDName" required="true" placeholder="session name" class="form-control">

                <button type="submit" class="btn btn-success" id="create">Create</button>
                <button type="submit" class="btn btn-success" id="join">join</button>
            </form>
        </div>
    </div>


    <%-partial('./blocks/bootstrap_js.ejs')%>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/logout.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
  </body>
</html>
