<!doctype html>
<html lang="en">
  <head>
    <%-partial('./blocks/bootstrap_header.ejs')%>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>

    <%-partial('./blocks/navbar.ejs')%>

    <div class="row">
      <div class="col">
        <button class="btn btn-lg btn-danger float-right action-button" id="logout" type="button">logout</button>
      </div>
    </div>


    <div class="container forms">
        <div class="row text-center">
            <form class="col-8 offset-2 jq-send-form" action="join-session" method="post">
                <h4>Join session</h4>

                <input type="text" name="sessionID" required="true" placeholder="session id" class="form-control">

                <button type="submit" class="btn btn-success">Join</button>
            </form>
        </div>

        <div class="row text-center">
            <form class="col-8 offset-2m jq-send-form" action="create-session" method="post">
                <h4>Create session</h4>

                <input type="text" name="sessionName" required="true" placeholder="session name" class="form-control">
                <input type="text" name="description" required="true" placeholder="description" class="form-control">

                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>


    <%-partial('./blocks/bootstrap_js.ejs')%>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/logout.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
  </body>
</html>
