<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Pocketband</a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/contacts" class="nav-link">Contacts</a> </li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a> </li>
      <li class="nav-item"><a href="/" class="nav-link"><%= user %></a></li>
    </ul>
  </div>
</nav>
